@model TudoBuffet.Website.Models.HomeViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="main-slider" class="owl-carousel owl-theme">
                <div class="item"><img src="img/main-slider1.jpg" alt="" class="img-fluid"></div>
                <div class="item"><img src="img/main-slider5.jpg" alt="" class="img-fluid"></div>
                <div class="item"><img src="img/main-slider6.jpg" alt="" class="img-fluid"></div>
                <div class="item"><img src="img/main-slider4.jpg" alt="" class="img-fluid"></div>
            </div>
            <!-- /#main-slider-->
        </div>
    </div>
</div>
<!--
*** ADVANTAGES HOMEPAGE ***
_________________________________________________________
-->
<div id="advantages">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-heart"></i></div>
                    <h3><a href="~/buffets">Encontre o local certo para sua festa</a></h3>
                    <p class="mb-0">Além de procurar, você vai enviar orçamentos e receberá a resposta de forma organizada</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-home"></i></div>
                    <h3><a href="~/usuarios">Divulgue seu espaço de festas</a></h3>
                    <p class="mb-0">Receba e responda os pedidos de orçamento de forma limpa e organizada</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                    <div class="icon"><i class="fa fa-birthday-cake"></i></div>
                    <h3><a href="~/usuarios">Mostre seus serviços</a></h3>
                    <p class="mb-0">Divulgue fotos e contatos dos seus serviços</p>
                </div>
            </div>
        </div>
        <!-- /.row-->
    </div>
    <!-- /.container-->
</div>
<!-- /#advantages-->
<!-- *** ADVANTAGES END ***-->
<!--
*** HOT PRODUCT SLIDESHOW ***
_________________________________________________________
-->
<div id="hot">
    <div class="box py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-0">Hot this week</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="product-slider owl-carousel owl-theme">
            @foreach (var buffetHighlight in Model.WeekHighlightBuffets)
            {
                <div class="item">
                    <div class="product">
                        <div class="flip-container">
                            <div class="flipper">
                                <div class="front"><a href="buffets/@buffetHighlight.Title"><img src="@buffetHighlight.FirstThumbnailUrl" alt="" class="img-fluid"></a></div>
                                <div class="back"><a href="buffets/@buffetHighlight.Title"><img src="@buffetHighlight.SecondThumbnailUrl" alt="" class="img-fluid"></a></div>
                            </div>
                        </div><a href="buffets/@buffetHighlight.Title" class="invisible"><img src="@buffetHighlight.FirstThumbnailUrl" alt="" class="img-fluid"></a>
                        <div class="text">
                            <h3> <a href="buffets/@buffetHighlight.Title">@buffetHighlight.Name</a></h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <div class="box slideshow">
            <h3>Get Inspired</h3>
            <p class="lead">Get the inspiration from our world class designers</p>
            <div id="get-inspired" class="owl-carousel owl-theme">
                <div class="item"><a href="#"><img src="img/getinspired1.jpg" alt="Get inspired" class="img-fluid"></a></div>
                <div class="item"><a href="#"><img src="img/getinspired2.jpg" alt="Get inspired" class="img-fluid"></a></div>
                <div class="item"><a href="#"><img src="img/getinspired3.jpg" alt="Get inspired" class="img-fluid"></a></div>
            </div>
        </div>
    </div>
</div>
<!-- *** GET INSPIRED END ***-->
<!--
*** BLOG HOMEPAGE ***
_________________________________________________________
-->
<div class="box text-center">
    <div class="container">
        <div class="col-md-12">
            <h3 class="text-uppercase">From our blog</h3>
            <p class="lead mb-0">What's new in the world of fashion? <a href="blog.html">Check our blog!</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
        <div id="blog-homepage" class="row">
            <div class="col-sm-6">
                <div class="post">
                    <h4><a href="post.html">Fashion now</a></h4>
                    <p class="author-category">By <a href="#">John Slim</a> in <a href="">Fashion and style</a></p>
                    <hr>
                    <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a></p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="post">
                    <h4><a href="post.html">Who is who - example blog post</a></h4>
                    <p class="author-category">By <a href="#">John Slim</a> in <a href="">About Minimal</a></p>
                    <hr>
                    <p class="intro">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    <p class="read-more"><a href="post.html" class="btn btn-primary">Continue reading</a></p>
                </div>
            </div>
        </div>
        <!-- /#blog-homepage-->
    </div>
</div>
<!-- /.container-->
<!-- *** BLOG HOMEPAGE END ***-->
