
@{
    ViewData["Title"] = "ReturnRegisterUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card sidebar-menu mb-4">
                <div class="card-header">
                    <h3 class="h4 card-title">Cadastro concluido!</h3>
                </div>
                <div class="card-body">
                    <p>Foi enviado um e-mail para sua caixa de mensagens. Clique no link do e-mail para ativar sua conta</p>
                </div>
            </div>
        </div>
    </div>
</div>